[Unit]
Description=Redis
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redis
ExecStartPre=-/usr/bin/docker rm redis
ExecStart=/usr/bin/docker run -p 6379:6379 --name redis redis
ExecStop=/usr/bin/docker stop redis
