<fracas-filter filter-name="{{strings.name}}" on-close="close()">
  <form class="form-inline" role="form">
    <div class="form-group">
      <!-- TODO validation -->
      <input class="form-control" ng-model="filter.from" type="text" datepicker-popup show-weeks="false"
             placeholder="{{strings.start}}">
    </div>
    <div class="form-group">
      <input class="form-control" ng-model="filter.to" type="text" datepicker-popup show-weeks="false"
             placeholder="{{strings.end}}">
    </div>
  </form>
</fracas-filter>
