<fracas-filter filter-name="{{filter.name}}" on-close="close()">
  <form class="form-inline" role="form">
    <div class="form-group">
      <!-- TODO validation -->
      <div class="col-sm-6 date-filter">
        <input class="form-control" ng-model="filter.from" type="text" datepicker-popup show-weeks="false"
               placeholder="{{strings.start}}">
      </div>
      <div class="col-sm-6 date-filter">
        <input class="form-control" ng-model="filter.to" type="text" datepicker-popup show-weeks="false"
               placeholder="{{strings.end}}">
      </div>
    </div>
  </form>
</fracas-filter>
