node_modules/
dist/
.tmp/
.vagrant/
*.log
*.mo

# node-windows service directory
daemon/

# Foreman environment variables
.env

# I know this is controversial, but it's what the generator does by default
bower_components/

# IntelliJ settings
.idea/
*.iml
*.ipr
*.iws

# Eclipse settings
.classpath
.project
.settings/

# OS X
.DS_Store

# Backup and lock files
*~
\#*\#

# Keys and certs
*.key
*.cer
*.crt
*.der
*.pem

# Templated files
public/outpatient/leaflet-map.js
public/partials/home.html