/**
 * Example dev.js file.
 */
'use strict';

module.exports = {
//  NODE_ENV: 'development', // this will override anything set in build
  SESSION_SECRET: 'L0NG_R@ND0M_STR!NG',
  DB_NAME: 'tacbrd',
  DB_USERNAME: 'postgres',
  DB_PASSWORD: 'password',
  DB_OPTIONS: {
    host: 'localhost',
    dialect: 'postgres'
  }
};
