[Unit]
Description=Elasticsearch
After=docker.service fracas-data.service
Requires=docker.service fracas-data.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill elasticsearch
ExecStartPre=-/usr/bin/docker rm elasticsearch
ExecStartPre=/usr/bin/docker pull gabegorelick/fracas-elasticsearch
ExecStart=/usr/bin/docker run -p 9200:9200 --volumes-from fracas-data --name elasticsearch gabegorelick/fracas-elasticsearch
ExecStop=/usr/bin/docker stop elasticsearch

[X-Fleet]
X-ConditionMachineOf=fracas-data.service
