<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <header>
            <h3 class="text-muted">Fracas</h3>
        </header>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please sign in</h3>
            </div>
            <div class="panel-body">
                <form accept-charset="UTF-8" role="form" action="/login" method="POST">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Username" name="username" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="">
                        </div>
                    </fieldset>
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Login"/>
                </form>
            </div>
        </div>
        <footer>
            <h4 class="text-muted pull-right">...for disease surveillance</h4>
        </footer>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-link" href="http://en.wikipedia.org/wiki/Girolamo_Fracastoro">Girolamo Fracastoro</a>
                </li>
                <!-- TODO more links -->
            </ul>
        </div>
    </div>
</nav>
