<div class="modal-header">
  <h4 class="modal-title" translate>Aggregate Data</h4>
</div>

<div class="modal-body">
  <form name="recordForm" class="form-horizontal" ng-submit="submit(recordForm)" novalidate>
    <fieldset>
      <div ng-if="page == 1">
        <div class="alert alert-warning alert-show-hide" ng-show="noData" translate>No data found</div>
        <div class="alert alert-warning alert-show-hide" ng-show="csv.tableData.length > 1" translate>
          More than one record found. First record will be imported.
        </div>
        <csv-file-selector table-data="csv.tableData" file-params="csv.fileParams"></csv-file-selector>
      </div>
      <div ng-if="page == 2">
        <!-- TODO red text on white background instead of alert -->
        <div class="alert alert-danger" ng-show="yellAtUser" translate>These fields are required</div>
        <conflict-message ng-show="conflictError"></conflict-message>

        <div class="form-group" ng-class="{'has-error': isInvalid(recordForm.visitDate)}">
          <label for="entry-aggregate-date" translate>Date</label>

          <div class="input-group">
            <!-- TODO in angular-ui/bootstrap master they removed weeks -->
            <input id="entry-aggregate-date" name="visitDate" type="text" class="form-control" required
                   ng-model="data.visitDate" datepicker-popup show-weeks="true" is-open="visitDateOpened">

          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="openVisitDate($event)">
              <span class="icon-calendar"></span>
            </button>
          </span>
          </div>
        </div>

        <div class="form-group">
          <label for="entry-aggregate-district" translate>District</label>

          <select class="form-control" id="entry-aggregate-district" name="district"
                  ng-model="data.medicalFacility.location.district"
                  ng-options="district for district in districts">
            <option value=""></option>
          </select>
        </div>

        <div class="form-group">
          <label for="entry-aggregate-sites-total" translate>Sites Total</label>

          <input class="form-control" type="number" id="entry-aggregate-sites-total" name="sitesTotal"
                 ng-model="data.medicalFacility.sites.total">
        </div>

        <div class="form-group">
          <label for="entry-aggregate-sites-reporting" translate>Sites Reporting</label>

          <input class="form-control" type="number" id="entry-aggregate-sites-reporting" name="sitesReporting"
                 ng-model="data.medicalFacility.sites.reporting">
        </div>

        <div class="form-group">
          <label for="entry-aggregate-symptoms" translate>Symptoms</label>

          <div id="entry-aggregate-symptoms" class="symptoms-edit-grid form-control" ng-grid="gridOptions"></div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer" ng-show="allowUpload && page === 1">
  <ul class="pager">
    <li class="next" ng-show="csv.tableData.length > 0">
      <a ng-click="next(recordForm)">
        <span translate>Next</span>
        <span class="icon-right-big"></span>
      </a>
    </li>
  </ul>
</div>

<div class="modal-footer" ng-show="page === 2">
  <ul class="pager" ng-show="allowUpload">
    <li class="previous">
      <a ng-click="previous(recordForm)">
        <span class="icon-left-big"></span>
        <span translate>Previous</span>
      </a>
    </li>
  </ul>

  <!-- include i18n-friendly images -->
  <button class="btn btn-warning" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span translate>Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="submit(recordForm)">
    <span class="icon-ok"></span>
    <span translate>Save</span>
  </button>
</div>
