<div class="modal-header">
  <h4 class="modal-title" translate>New diagnosis</h4>
</div>

<div class="modal-body">
  <form role="form" name="recordForm" class="form-horizontal" ng-submit="submit(recordForm)" novalidate>
    <div class="alert alert-danger" ng-show="yellAtUser" translate>These fields are required</div>
    <conflict-message ng-show="conflictError"></conflict-message>

    <!-- diagnosis name -->
    <div class="form-group" ng-class="{'has-error': isInvalid(recordForm.name) || uniqueConstraintViolation}">
      <label for="entry-diagnosis-name" translate>Name</label>

      <!-- TODO rename data to record -->
      <input class="form-control" id="entry-diagnosis-name" name="name" ng-model="data.name" required>

      <span ng-show="isInvalid(recordForm.name)" class="help-block" translate>
        Please enter a valid Diagnosis name
      </span>
      <span class="help-block" ng-show="uniqueConstraintViolation">
        <span translate>Sorry, this name is already in use</span>
      </span>
    </div>

    <!-- enabled TODO this UI isn't very good -->
    <div class="form-group">
      <label for="entry-diagnosis-enabled" translate>Enabled?</label>
      <br>
      <input type="checkbox" id="entry-diagnosis-enabled" ng-model="data.enabled">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span translate>Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="submit(recordForm)">
    <span class="icon-ok"></span>
    <span translate>Save</span>
  </button>
</div>
