<div class="modal-header">
  <h4 class="modal-title" translate>Diagnosis</h4>
</div>

<div class="modal-body">
  <form name="recordForm" class="form-horizontal" ng-submit="submit(recordForm)" novalidate>
    <fieldset>

      <!-- TODO red text on white background instead of alert -->
      <div class="alert alert-danger" ng-show="yellAtUser" translate>These fields are required</div>
      <conflict-message ng-show="conflictError"></conflict-message>

      <div class="form-group" ng-class="{'has-error': isInvalid(recordForm.name) || errorOnRecordSave.length > 0}">
        <label class="col-md-4 control-label" for="entry-diagnosis-name" translate>Name</label>

        <div class="col-md-6">
          <div class="input-group">
            <input class="form-control" id="entry-diagnosis-name" name="name" ng-model="diagnosis.name" required>
          </div>
          <span ng-show="isInvalid(recordForm.name)" class="help-block" translate>
            Please enter a valid Diagnosis name
          </span>
          <div class="animate-switch-container" ng-switch on="errorOnRecordSave">
            <span class="help-block animate-switch" ng-switch-when="UniqueConstraintViolationError">
              <span translate>Sorry, this name is already in use</span>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': isInvalid(recordForm.phoneId)}">
        <label class="col-md-4 control-label" for="entry-diagnosis-phoneId" translate>Phone ID</label>

        <div class="col-md-6">
          <div class="input-group">
            <input class="form-control" id="entry-diagnosis-phoneId" name="phoneId" ng-model="diagnosis.phoneId">
          </div>
          <span ng-show="isInvalid(recordForm.phoneId)" class="help-block" translate>
            Please enter a valid Phone ID
          </span>
        </div>
      </div>

    </fieldset>

  </form>
</div>
<div class="modal-footer"> <!-- TODO refactor into modalFooter directive -->
  <button class="btn btn-warning" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span translate>Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="submit(recordForm)">
    <span class="icon-ok"></span>
    <span translate>Save</span>
  </button>
</div>
