<div class="modal-header">
  <h4 class="modal-title" ng-i18next>entry.User</h4>
</div>

<div class="modal-body">
  <form name="recordForm" class="form" ng-submit="submit(recordForm)" novalidate>
    <fieldset>

      <!-- TODO red text on white background instead of alert -->
      <div class="alert alert-danger" ng-show="yellAtUser" ng-i18next>op.msgFieldsRequired</div>
      <conflict-message ng-show="conflictError"></conflict-message>

      <div class="form-group" ng-class="{'has-error': isInvalid(recordForm.username) || uniqueConstraintViolation}">
        <label for="entry-user-username" ng-i18next>entry.UserName</label>
        <input class="form-control" id="entry-user-username" name="username" ng-model="data.username" required>
        <span ng-show="isInvalid(recordForm.username)" class="help-block" ng-i18next>entry.msgEnterValidName</span>
        <span class="help-block" ng-show="uniqueConstraintViolation">
          <span ng-i18next>entry.msgNameInUse</span>
        </span>
      </div>

      <div class="form-group" ng-if="!record._id"
           ng-class="{'has-error': isInvalid(recordForm.password) || isShort(recordForm.password) || !passwordMatch(recordForm.password, recordForm.passwordConfirm)}">
        <label for="entry-user-password" ng-i18next>entry.Password</label>
        <input type="password" class="form-control" id="entry-user-password" name="password" ng-model="data.password"
               required>
        <span ng-show="isInvalid(recordForm.password)" class="help-block" ng-i18next>entry.msgEnterPassword</span>
        <span ng-show="isShort(recordForm.password)" class="help-block">
          <span ng-i18next>entry.msgPasswordLength</span> {{minPasswordLength}} <span ng-i18next>entry.characters</span>
        </span>
      </div>

      <div class="form-group" ng-if="!record._id"
           ng-class="{'has-error': !passwordMatch(recordForm.password, recordForm.passwordConfirm)}">
        <label for="entry-user-passwordConfirm" ng-i18next>entry.ConfirmPassword</label>
        <input type="password" class="form-control" id="entry-user-passwordConfirm" name="passwordConfirm"
               ng-model="data.passwordConfirm" required>
        <span ng-show="!passwordMatch(recordForm.password, recordForm.passwordConfirm)" class="help-block" ng-i18next>
          entry.msgMatchPassword
        </span>
      </div>

      <div class="form-group" ng-class="{'has-error': isInvalid(recordForm.email)}">
        <label for="entry-user-email" ng-i18next>entry.Email</label>
        <input type="email" class="form-control" id="entry-user-email" name="email" ng-model="data.email">
        <span ng-show="isInvalid(recordForm.email)" class="help-block" ng-i18next>
          entry.msgEnterValidEmail
        </span>
      </div>

      <div class="form-group">
        <label for="entry-user-name" ng-i18next>op.Name</label>
        <input type="text" class="form-control" id="entry-user-name" name="name" ng-model="data.name">
      </div>

      <div class="form-group">
        <label for="entry-user-disabled" ng-i18next>entry.Disabled</label>
        <input type="checkbox" class="checkbox" id="entry-user-disabled" name="disabled" ng-model="data.disabled">
      </div>

      <div class="form-group">
        <label for="entry-user-roles" ng-i18next>entry.Roles</label>
        <ui-select id="entry-user-roles" ng-model="data.roles" multiple>
          <ui-select-match>
            {{$item}}
          </ui-select-match>
          <ui-select-choices repeat="role in roles | filter:$select.search">
            {{role}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group">
        <label for="entry-user-tokens" ng-i18next>entry.APIKey</label>
        <input type="text" class="form-control" id="entry-user-tokens" name="token[0]" ng-model="data.tokens" disabled>
      </div>

      <div class="form-group">
        <label for="entry-user-locations" ng-i18next>entry.Locations</label>
        <ui-select id="entry-user-locations" ng-model="data.locations" multiple>
          <ui-select-match>
            {{$item}}
          </ui-select-match>
          <ui-select-choices repeat="location in locations | filter:$select.search">
            {{location}}
          </ui-select-choices>
        </ui-select>
      </div>

    </fieldset>

  </form>
</div>
<div class="modal-footer">
  <!-- include i18n-friendly images -->
  <button class="btn btn-warning" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span ng-i18next>app.Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="submit(recordForm)">
    <span class="icon-ok"></span>
    <span ng-i18next>app.Save</span>
  </button>
</div>
