<div class="modal-header">
  <h4 class="modal-title" ng-i18next>entry.Visualization</h4>
</div>

<div class="modal-body">
  <form name="recordForm" class="form-horizontal" ng-submit="submit(recordForm)" novalidate>
    <fieldset>

      <!-- TODO red text on white background instead of alert -->
      <div class="alert alert-danger" ng-show="yellAtUser" ng-i18next>op.msgFieldsRequired</div>
      <conflict-message ng-show="conflictError"></conflict-message>

      <div class="form-group" ng-class="{'has-error': isInvalid(recordForm.name) || errorOnRecordSave.length > 0}">
        <label class="col-md-4 control-label" for="entry-visualization-name" ng-i18next>op.Name</label>

        <div class="col-md-6">
          <div class="input-group">
            <input class="form-control" id="entry-visualization-name" name="name" ng-model="visualization.name" required>
          </div>
          <span ng-show="isInvalid(recordForm.name)" class="help-block" ng-i18next>
            entry.msgEnterValidName
          </span>
          <div class="animate-switch-container" ng-switch on="errorOnRecordSave">
            <span class="help-block animate-switch" ng-switch-when="UniqueConstraintViolationError">
              <span ng-i18next>entry.msgNameInUse</span>
            </span>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <!-- include i18n-friendly images -->
  <button class="btn btn-warning" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span ng-i18next>app.Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="submit(recordForm)">
    <span class="icon-ok"></span>
    <span ng-i18next>app.Save</span>
  </button>
</div>
