<div class="modal-header">
  <h4 class="modal-title" ng-i18next>entry.Workbench</h4>
</div>

<div class="modal-body">
  <form name="recordForm" class="form" ng-submit="submit(recordForm)" novalidate>
    <fieldset>
      <!-- TODO red text on white background instead of alert -->
      <div class="alert alert-danger" ng-show="yellAtUser" ng-i18next>op.msgFieldsRequired</div>
      <conflict-message ng-show="conflictError"></conflict-message>
      <div class="form-group" ng-class="{'has-error': isInvalid(recordForm.name) || uniqueConstraintViolation}">
        <label for="entry-workbench-name" ng-i18next>op.Name</label>
        <input class="form-control" id="entry-workbench-name" name="name" ng-model="data.name" required>
        <span ng-show="isInvalid(recordForm.name)" class="help-block" ng-i18next>
          entry.msgEnterValidName
        </span>
        <span class="help-block" ng-show="uniqueConstraintViolation">
        <span ng-i18next>entry.msgNameInUse</span>
        </span>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span ng-i18next>app.Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="submit(recordForm)">
    <span class="icon-ok"></span>
    <span ng-i18next>app.Save</span>
  </button>
</div>
