<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fracas</title>
    <meta name="description" content="Fracas, for disease surveillance">
    <meta name="viewport" content="width=device-width">
    <!-- there's probably a more Angular-y way to do this, e.g. ng-init, but oh well -->
    <meta name="_username" content="{{= user ? user.name : '' }}">

    <!-- inject:css -->
    <link rel="stylesheet" href="../.tmp/styles/main.css">
    <!-- endinject -->
</head>
<body ng-app>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<!-- TODO use modernizr and pull these -->
<!--[if lt IE 9]>
<script src="../public/bower_components/es5-shim/es5-shim.js"></script>
<script src="../public/bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<div class="container" ng-view></div>

<!-- In dev, load requirejs and have it load main.js.
    In production, load main.js (main.js is single bundle that includes almond shim for requirejs) -->
<!-- inject:js -->
<script data-main="../public/scripts/main" src="../public/bower_components/requirejs/require.js"></script>
<!-- endinject -->
</body>
</html>
