<div class="modal-header">
  <h3 class="modal-title" ng-i18next>config.EditAgeGroup</h3>
</div>
<div class="modal-body">
  <form class="form" role="form" novalidate name="groupForm">

    <div class="form-group" ng-class="{'has-error': isInvalid(groupForm.name)}">
      <label ng-i18next>config.AgeGroupName</label>
      <input class="form-control" type="text" name="name" ng-model="row.name" required>
    </div>

    <div class="row">
      <div class="col-md-6 form-group" ng-class="{'has-error': isInvalid(groupForm.from)}">
        <label ng-i18next>config.StartingAt</label>
        <input class="form-control" type="number" name="from" ng-model="row.from" required>

      </div>

      <div class="col-md-6 form-group" ng-class="{'has-error': isInvalid(groupForm.to)}">
        <label ng-i18next>config.LessThan</label>
        <input class="form-control" type="number" name="to" ng-model="row.to" required>
      </div>

    </div>
    <div class="help-block" ng-show="yellAtUser && !row.name" ng-i18next>
      config.msgAgeGroup
    </div>

    <div class="help-block" ng-show="nameInUse" ng-i18next>
      config.msgAgeGroupInUse
    </div>

    <div class="help-block" ng-show="yellAtUser && (!row.from || !row.to)" ng-i18next>
      config.msgAgeRange
    </div>

    <div class="help-block" ng-show="row.from > row.to" ng-i18next>
      config.msgInvalidAgeRange
    </div>

  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
  <button class="btn btn-primary" ng-click="save(groupForm)">Save</button>
</div>
