<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="panel-title" ng-i18next>config.SiteConfiguration</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <label ng-i18next>config.DataType</label>
                <br>
                <label class="radio-inline">
                  <input type="radio" name="data-type" value="individual" ng-model="siteTemplate.dataType">
                  Individual
                </label>
                <label class="radio-inline">
                  <input type="radio" name="data-type" value="aggregate" ng-model="siteTemplate.dataType">
                  Aggregate
                </label>
              </div>

              <div class="form-group">
                <label ng-i18next>config.Template</label>
                <br>

                <div class="radio" ng-repeat="key in templateKeys">
                  <label>
                    <input type="radio" name="template" value="{{key}}" ng-model="siteTemplate.templates">
                    {{key}}
                  </label>
                </div>

              </div>
            </div>
          </div>

          <div ng-show="siteTemplate.fields" class="panel panel-default">

            <div class="panel-heading clearfix">
              <label ng-i18next>config.Fields</label>

              <div class="pull-right">
                <!-- <button class="btn btn-primary" ng-click="openAddNewFieldModal()">
                  <span ng-i18next>config.NewField</span>
                </button> -->
                <button class="btn btn-primary" ng-click="setEnabled(true)">
                  <span ng-i18next>config.SelectAll</span>
                </button>
                <button class="btn btn-primary" ng-click="setEnabled(false)">
                  <span ng-i18next>config.DeselectAll</span>
                </button>
              </div>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <tr ng-repeat="field in siteTemplate.fields | filter: isNotGroupField">
                  <td>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-value="field.name" ng-model="field.enabled" ng-click="checkLock(field)"
                               ng-checked="field.enabled">
                        {{'op.' + getLocaleValue(field.name) | i18next}} {{ field.locked ? '*' : ''}}
                      </label>
                    </div>
                  </td>
                  <td>
                    <div ng-if="field.enabled && field.groupName === 'patient.ageGroup'">
                      <config-age-group field="groupField(field)"></config-age-group>
                    </div>

                    <div ng-if="field.enabled && field.values !== undefined">

                      <!-- sex and antiviral.exposure fields have fixed number of rows.
                      Admin cannot add or delete rows, he can only change displayValue -->
                      <div ng-if="field.formFieldType === 'FixedLengthList'">
                        <config-table field="field"></config-table>
                      </div>

                      <div ng-if="field.formFieldType !== 'FixedLengthList'">
                        <config-multiselect field="field"></config-multiselect>
                        <br>

                        <div ng-if="field.groupName !== undefined">
                          <config-group field="groupField(field)" possible-values="field.values"></config-group>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer clearfix">
      <div class="pull-right">
        <!-- include i18n-friendly images -->
        <button class="btn btn-warning" ng-click="cancel()">
          <span class="icon-cancel"></span>
          <span ng-i18next>app.Cancel</span>
        </button>
        <button class="btn btn-primary" ng-click="save()">
          <span class="icon-ok"></span>
          <span ng-i18next>app.Save</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Template for modal that displays a message -->
  <script type="text/ng-template" id="message.html">
    <div class="modal-header">
      <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
      {{message}}
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="closeModal()">OK</button>
    </div>
  </script>


</div>
