<div class="checkbox">
  <label>
    <input type="checkbox" ng-value="field.name" ng-model="field.enabled"
           ng-checked="field.enabled">{{field.name}}
  </label>
</div>

<div ng-show="field.enabled" style="width: 700px;">
  <div class="form-control category-group-grid" ng-grid="gridOptions"></div>
  <div class="btn-group pull-right">
    <button class="btn btn-default btn-sm"
            ng-click="edit()" ng-i18next="[title]config.AddNew">
      <span class="icon-plus"></span>
    </button>
    <button class="btn btn-warning btn-sm"
            ng-click="removeAll()" ng-i18next="[title]config.RemoveAll">
      <span class="icon-cancel"></span>
    </button>
  </div>
</div>
