<div class="modal-header">
  <h3 class="modal-title" translate>Edit Group</h3>
</div>
<div class="modal-body">
  <form class="form" role="form" novalidate name="groupForm">
    <div class="form-group" ng-class="{'has-error': yellAtUser}">
      <label translate>Group Name</label>
      <input class="form-control" type="text" name="name" ng-model="row.name" required>
    </div>

    <div class="form-group" ng-class="{'has-error': noValue}">
      <label translate>Value</label>

      <ui-select class="form-control" multiple ng-model="row.value" theam="select2"
                 ng-disabled="disabled" required>
        <ui-select-match placeholder="Select...">{{$item}}</ui-select-match>
        <ui-select-choices ng-value="val"
                           repeat="val as val in possibleValues  | filter:$select.search">
          <div ng-bind-html="val | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="help-block" ng-show="yellAtUser" translate>
      Please enter a group name
    </div>
    <div class="help-block" ng-show="noValues" translate>
      Please select one or more values
    </div>

    <div class="help-block" ng-show="nameInUse" translate>
      Group name "{{row.name}}" is already in use, please select a different name.
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
  <button class="btn btn-primary" ng-click="save(groupForm)">Save</button>
</div>
