<div class="modal-header">
  <h3 class="modal-title" ng-i18next>config.NewField</h3>
</div>
<div class="modal-body">
  <form class="form" role="form" novalidate name="newFieldForm">
    <div class="form-group" ng-class="{'has-error': yellAtUser}">
      <div ng-class="{'has-error': duplicateField}">
        <label for="newFieldName" ng-i18next>op.EnterNewFieldName</label>
        <input class="form-control" ng-change="submitted = false" type="text" id="newFieldName" name="newFieldName" ng-class="{'has-error': duplicateField}" ng-model="data.newFieldName" required>
        <div class="help-block" ng-show="duplicateField" ng-i18next>
          config.FieldNameExists
        </div>
      </div>
      <label for="fieldType" ng-i18next>op.SelectFieldType</label>
      <select class="form-control" ng-change="submitted = false" id="fieldType" name="fieldType" ng-model="data.fieldType" required>
        <option ng-repeat="type in types" value="{{type.value}}">{{type.name}}</option>
      </select>
      <div class="help-block" ng-show="yellAtUser" ng-i18next>
        config.msgEnterAValue
      </div>
      <div class="help-block" ng-show="aggFieldExists" ng-i18next ng-class="{'has-error': aggFieldExists}">
        config.aggFieldExists
      </div>
      <div class="help-block" ng-show="noRegionSelected" ng-i18next ng-class="{'has-error': noRegionSelected}">
        config.noRegionSelected
      </div>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="closeModal()" ng-i18next>app.Cancel</button>
  <button class="btn btn-primary" ng-disabled="submitted" ng-click="submitted = true; save(newFieldForm)" ng-i18next>app.Save</button>
</div>
