<div class="modal-header">
  <h3 class="modal-title" translate>Enter a new {{field.name}}</h3>
</div>
<div class="modal-body">
  <form class="form" role="form" novalidate name="newValForm">
    <div class="form-group" ng-class="{'has-error': yellAtUser}">
      <input class="form-control" type="text" name="value" ng-model="data.value" required>

      <div class="help-block" ng-show="yellAtUser" translate>
        Please enter a value
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="closeModal()">Cancel</button>
  <button class="btn btn-primary" ng-click="save(newValForm)">Save</button>
</div>
