<!-- File -->
<div class="col-md-12 form-group">
  <label ng-i18next>aggregate.CSVFile</label>

  <input id="csv-file" name="csvFile" type="file" ng-model="fileParams.file" ng-file-select="onFileSelect($files)"
         accept=".csv" required>
  <span class="help-block" ng-show="badFile" ng-i18next>aggregate.msgCSVFile</span>
</div>

<div class="col-md-4 form-group">
  <label ng-i18next>aggregate.Separator</label>
  <input class="form-control csv-field" id="separator" name="separator" type="text" ng-model="fileParams.separator">
</div>

<div class="col-md-4 form-group">
  <label ng-i18next>aggregate.Delimiter</label>
  <input class="form-control csv-field" id="delimiter" name="delimiter" type="text" ng-model="fileParams.delimiter">
</div>

<div class="col-md-4 form-group">
  <label ng-i18next>aggregate.ContainsHeaderRow</label>
  <input class="checkbox csv-field" id="headerRow" name="headerRow" type="checkbox" ng-model="fileParams.headerRow">
</div>

<div class="col-md-12 form-group" ng-show="fileParams.showPreview && tableData.length > 0">
  <label ng-i18next>aggregate.Data</label>

  <div class="preview-grid" ng-grid="gridOptions"></div>
</div>
