<div class="modal-header">
  <h4 class="modal-title" ng-i18next>db.AddWidget</h4>
</div>

<div class="modal-body">
  <form name="widgetForm" ng-submit="submit(widgetForm)" novalidate>
    <fieldset>
      <!-- TODO red text on white background instead of alert -->
      <div class="alert alert-danger" ng-show="yellAtUser" ng-i18next>These fields are required</div>

      <div class="form-group">
        <label for="widget-configuration-visualization" ng-i18next>db.Visualization</label>
        <select class="form-control" id="widget-configuration-visualization" ng-model="widget.visualization" required>
          <option ng-repeat="visualization in visualizations" value="{{visualization._id}}">
            {{visualization._source.name}}
          </option>
        </select>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer"> <!-- TODO refactor into modalFooter directive -->
  <button class="btn btn-default" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span ng-i18next>app.Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="submit(widgetForm)">
    <span class="icon-ok"></span>
    <span ng-i18next>app.Add</span>
  </button>
</div>
