<div class="container-fluid">
  <div class="row">

    <div class="panel panel-default">
      <div class="panel-heading clearfix">

        <!-- TODO make this editable with something like http://vitalets.github.io/angular-xeditable -->
        <h3 class="panel-title pull-left">{{dashboard.name}}</h3>

        <div class="pull-right">
          <a class="btn btn-primary" ng-click="addWidget()" popover="{{'db.AddWidget' | i18next}}"
             popover-trigger="mouseenter">
            <span class="icon-plus" ng-i18next>db.AddWidget</span>
          </a>
          <a class="btn btn-primary" ng-click="export()" popover="{{'db.SaveDashboard' | i18next}}"
             popover-trigger="mouseenter">
            <span class="icon-floppy" ng-i18next>app.Save</span>
          </a>
        </div>
      </div>

      <div gridster="gridsterOptions">
        <ul>
          <li class="dashboard-widget" gridster-item="widget" ng-repeat="widget in dashboard.widgets">
            <div class="panel panel-default dashboard-panel" ng-controller="WidgetCtrl">
              <div class="panel-heading clearfix viz-drag-handle">
                <h4 class="panel-title pull-left">{{ widget.name }}</h4>

                <div class="pull-right">
                  <button type="button" class="btn btn-default" ng-click="openSettings(widget)"
                          popover="{{'db.Settings' | i18next}}" popover-trigger="mouseenter">
                    <span class="icon-cog"></span>
                  </button>
                  <button type="button" class="btn btn-default" ng-click="remove(widget)"
                          popover="{{'db.RemoveWidget' | i18next}}" popover-trigger="mouseenter">
                    <span class="icon-cancel"></span>
                  </button>
                </div>
              </div>

              <div class="panel-body" ng-click="clickthrough(widget)">
                <dashboard-widget options="widget.content" size-x="widget.sizeX" size-y="widget.sizeY" row="widget.row"
                                  col="widget.col" source="source" widget="widget" form="form">
                </dashboard-widget>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
