<div class="modal-header">
  <h4 class="modal-title" translate>Open dashboard</h4>
</div>
<div class="modal-body">
  <form role="form" novalidate name="openDashboardForm">
    <div class="form-group" ng-class="{'has-error': yellAtUser}">
      <label for="open-dashboard-id" translate>Dashboard</label>
      <select class="form-control" id="open-dashboard-id" name="dashboard" ng-model="dashboard.dashboard"
              ng-options="d._source.name for d in dashboards" required>
      </select>
      <div class="help-block" ng-show="yellAtUser" translate>
        Please select a dashboard
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span translate>Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="ok(dashboardForm)">
    <span class="icon-ok"></span>
    <span translate>Open</span>
  </button>
</div>
