<!-- Date of birth -->
<div class="form-group" data-field="patient.dateOfBirth" ng-show="fields['patient.dateOfBirth'].enabled"
     ng-class="{'has-error': isInvalid(visitForm.dateOfBirth), 'has-warning': isInFuture(visit.patient.dateOfBirth)}">

  <label for="entry-visit-date-of-birth" ng-i18next>entry.DOB</label>

  <div class="input-group">
    <input id="entry-visit-date-of-birth" name="dateOfBirth" type="text" class="form-control"
           ng-model="visit.patient.dateOfBirth" datepicker-popup show-weeks="false"
           is-open="datePopupsOpen.dateOfBirth">

    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="openDatePopup('dateOfBirth', $event)">
        <span class="icon-calendar"></span>
      </button>
    </span>
  </div>

  <span class="help-block" ng-show="isInFuture(visit.patient.dateOfBirth)" ng-i18next>
    entry.msgFutureDate
  </span>
</div>

<!-- Age -->
<div class="form-group" data-field="patient.age" ng-show="fields['patient.age'].enabled">

  <!-- label should target first input on the line, which is years -->
  <label for="entry-visit-years" ng-i18next>entry.Age</label>

  <!-- years -->
  <div class="row">
    <div class="col-md-6" ng-class="{'has-error': isInvalid(visitForm.years), 'has-warning': warnings.years}">
      <div class="input-group">
        <input class="form-control" id="entry-visit-years" name="years" ng-model="visit.patient.age.years"
               type="number" step="1" min="0" max="999">

        <!-- Don't disable age even though date of birth is set. This way, the user can tweak the number -->

        <span class="input-group-addon" ng-i18next>entry.years</span>
      </div>
      <span ng-show="warnings.years === 'old'" class="help-block">{{visit.patient.age.years}}</span>
      <span ng-show="warnings.years === 'old'" class="help-block" ng-i18next>
         entry.msgTooOld
      </span>
      <span ng-show="warnings.years === '999'" class="help-block" ng-i18next>
        entry.msgUnknownAge
      </span>
      <span ng-show="warnings.years === 'dateOfBirthMismatch'" class="help-block">
        <span ng-show="expectedAge.years">{{expectedAge.years}}</span>
        <span ng-show="expectedAge.years" ng-i18next>entry.msgExpectedAge1</span>
        <span ng-show="!expectedAge.years" ng-i18next>
          entry.msgExpectedAge2
        </span>
        <span ng-show="!expectedAge.years">{{expectedAge.months}}</span>
        <span ng-show="!expectedAge.years" ng-i18next> entry.msgExpectedAge3</span>
      </span>
    </div>

    <!-- months -->
    <div class="col-md-6" ng-class="{'has-error': isInvalid(visitForm.months), 'has-warning': warnings.months}">
      <label for="entry-visit-months" class="sr-only" ng-i18next>entry.months</label>

      <div class="input-group">
        <input class="form-control" id="entry-visit-months" name="months" ng-model="visit.patient.age.months"
               type="number" step="1" min="0" max="12">

        <span class="input-group-addon" ng-i18next>entry.months</span>
      </div>

      <span ng-show="warnings.months === 'dateOfBirthMismatch'" class="help-block" ng-i18next>
        entry.msgExpectedAge2
      </span>
      <span ng-show="warnings.months === 'dateOfBirthMismatch'" class="help-block">{{expectedAge.months}} </span>
      <span ng-show="warnings.months === 'dateOfBirthMismatch'" class="help-block"
            ng-i18next>entry.msgExpectedAge3
      </span>

    </div>
  </div>
</div>
