<!-- Antiviral exposure -->
<div class="form-group" data-field="antiviral.exposure" ng-show="fields['antiviral.exposure'].enabled">
  <label for="entry-visit-antiviral-exposure" ng-i18next>
    entry.ExposureDuringLast14Days
  </label>
  <select class="form-control" id="entry-visit-antiviral-exposure" name="antiviralExposure"
          ng-model="visit.antiviral.exposure">

    <option ng-repeat="f in fields['antiviral.exposure'].values" value="{{f.value}}"
            ng-selected="visit.antiviral.exposure === f.value">
      {{f.name}}
    </option>
  </select>
</div>

<!-- Antiviral source -->
<div class="form-group" data-field="antiviral.source"
     ng-show="fields['antiviral.source'].enabled && visit.antiviral.exposure === 'Y'">

  <label for="entry-visit-antiviral-source" ng-i18next>entry.AntiviralSource</label>
  <select class="form-control" id="entry-visit-antiviral-source" name="antiviralSource"
          ng-model="visit.antiviral.source">
    <option ng-repeat="f in fields['antiviral.source'].values" value="{{f.name}}"
            ng-selected="visit.antiviral.source === f.name">
      {{f.name}}
    </option>
  </select>
</div>

<!-- Antiviral name -->
<div class="form-group" data-field="antiviral.name"
     ng-show="fields['antiviral.name'].enabled && visit.antiviral.exposure === 'Y'">

  <label for="entry-visit-antiviral-name" ng-i18next>entry.NameOfAntiviral</label>
  <select class="form-control" id="entry-visit-antiviral-name" name="antiviralName" ng-model="visit.antiviral.name">
    <option ng-repeat="f in fields['antiviral.name'].values" value="{{f.name}}"
            + ng-selected="visit.antiviral.name === f.name">
      {{f.name}}
    </option>
  </select>
</div>
