<!-- Antiviral exposure -->
<div class="form-group" data-field="antiviral.exposure" ng-show="fields['antiviral.exposure'].enabled">
  <label ng-i18next>
    entry.ExposureDuringLast14Days
  </label>
  <br> <!-- By default, Bootstrap puts the label on the same line as the inline radio controls -->
  <label class="radio-inline">
    <input type="radio" name="antiviralExposure" ng-value="true" ng-model="visit.antiviral.exposure">
    <span ng-i18next>app.Yes</span>
  </label>
  <label class="radio-inline">
    <input type="radio" name="antiviralExposure" ng-value="false" ng-model="visit.antiviral.exposure">
    <span ng-i18next>app.No</span>
  </label>
  <label class="radio-inline">
    <input type="radio" name="antiviralExposure" ng-value="" ng-model="visit.antiviral.exposure">
    <span ng-i18next>app.Unknown</span>
  </label>
</div>

<!-- Antiviral source -->
<div class="form-group" data-field="antiviral.source"
     ng-show="fields['antiviral.source'].enabled && visit.antiviral.exposure === true">

  <label ng-i18next>entry.AntiviralSource</label>
  <br> <!-- By default, Bootstrap puts the label on the same line as the inline radio controls -->
  <label class="radio-inline">
    <input type="radio" name="antiviralSource" value="patient" ng-model="visit.antiviral.source">
    <span ng-i18next>entry.Patient</span>
  </label>
  <label class="radio-inline">
    <input type="radio" name="antiviralSource" value="household" ng-model="visit.antiviral.source">
    <span ng-i18next>entry.HouseholdContact</span>
  </label>
  <label class="radio-inline">
    <input type="radio" name="antiviralSource" value="" ng-model="visit.antiviral.source">
    <span ng-i18next>app.Unknown</span>
  </label>
</div>

<!-- Antiviral name -->
<div class="form-group" data-field="antiviral.name"
     ng-show="fields['antiviral.name'].enabled && visit.antiviral.exposure === true">

  <label for="entry-visit-antiviral-name" ng-i18next>entry.NameOfAntiviral</label>
  <select class="form-control" id="entry-visit-antiviral-name" name="antiviralName" ng-model="visit.antiviral.name">
    <option value="oseltamivir" ng-i18next>entry.Oseltamivir</option>
    <option value="zanamivir" ng-i18next>entry.Zanamivir</option>
    <option value="rimantadine" ng-i18next>entry.Rimantadine</option>
    <option value="amantadine" ng-i18next>entry.Amantadine</option>
    <option value="umifenovir" ng-i18next>entry.Umifenovir</option>
    <option value="laninamivir" ng-i18next>entry.Laninamivir</option>
    <option value="peramivir" ng-i18next>entry.Peramivir</option>
  </select>
</div>
