<div ng-show="visit.sex === 'F'">

  <!-- Pregnancy --> <!-- TODO this lonely checkbox doesn't look good -->
  <div class="form-group" data-field="patient.pregnant.is"
       ng-show="fields['patient.pregnant.is'].enabled && visit.sex === 'F'">

    <label for="entry-pregnant" ng-i18next>entry.Pregnant</label>
    <select class="form-control" id="entry-pregnant" name="pregnantIs"
            ng-model="visit.patient.pregnant.is">

      <option ng-repeat="f in fields['patient.pregnant.is'].values" value="{{f.value}}"
              ng-selected="visit.patient.pregnant.is === f.value">
        {{f.name}}
      </option>
    </select>
  </div>

  <!-- Trimester -->
  <div class="form-group" data-field="patient.pregnant.trimester"
       ng-show="fields['patient.pregnant.trimester'].enabled && visit.patient.pregnant.is"
       ng-class="{'has-error': isInvalid(visitForm.trimester)}">

    <label for="entry-trimester" ng-i18next>entry.Trimester</label>
    <input type="number" class="form-control" id="entry-trimester" name="trimester" min="1" max="3"
           ng-model="visit.patient.pregnant.trimester">
  </div>
</div>
