<!-- Pregnancy --> <!-- TODO this lonely checkbox doesn't look good -->
<div class="form-group" ng-show="fields['patient.pregnant.is'].enabled && visit.patient.sex === 'female'">
  <label for="entry-pregnant" translate>Pregnant</label>
  <br>
  <input type="checkbox" id="entry-pregnant" ng-model="visit.patient.pregnant.is">
</div>

<!-- Trimester -->
<div class="form-group" ng-show="fields['patient.pregnant.trimester'].enabled && visit.patient.pregnant.is"
     ng-class="{'has-error': isInvalid(visitForm.trimester)}">

  <label for="entry-trimester" translate>Trimester</label>
  <input type="number" class="form-control" id="entry-trimester" name="trimester" min="1" max="3"
         ng-model="visit.patient.pregnant.trimester">
</div>
