<!-- Specimen collection date -->
<div class="form-group" data-field="specimen.collectionDate" ng-show="fields['specimen.collectionDate'].enabled"
     ng-class="{'has-error': isInvalid(visitForm.specimenCollectionDate)}">

  <label for="entry-visit-specimen-collection" ng-i18next>entry.SpecimenCollection</label>

  <div class="input-group">
    <input id="entry-visit-specimen-collection" name="specimenCollectionDate" type="text" class="form-control"
           ng-model="visit.specimen.collectionDate" datepicker-popup
           current-text="{{'date.current' | i18next}}" clear-text="{{'date.clear' | i18next}}"
           close-text="{{'date.close' | i18next}}" toggle-weeks-text="{{'date.weeks' | i18next}}" show-weeks="false"
           is-open="datePopupsOpen.specimenCollectionDate">

      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="openDatePopup('specimenCollectionDate', $event)">
          <span class="icon-calendar"></span>
        </button>
      </span>
  </div>
</div>

<!-- Specimen ID -->
<div class="form-group" data-field="specimen.id" ng-show="fields['specimen.id'].enabled">
  <label for="entry-specimen-id" ng-i18next>entry.SpecimenID</label>
  <input type="text" id="entry-specimen-id" class="form-control" name="specimenID" ng-model="visit.specimen.id">
</div>
