<div class="panel panel-default">
  <div class="panel-heading clearfix">

    <!-- TODO make this editable with something like http://vitalets.github.io/angular-xeditable -->
    <h3 class="panel-title pull-left" editable-text="workbenchName" buttons="right" blur="cancel"
        onaftersave="saveWorkbenchName()" onshow="setNameFocus()" onhide="unsetNameFocus()">{{workbenchName}} <span ng-if='workbenchName' ng-i18next>navBar.workbench</span></h3>

    <div class="col-md-3 pull-right">
        <div style="display:inline-block;" popover="{{'wb.AddWidget' | i18next}}" popover-trigger="mouseenter">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" ng-disabled="isWorkbenchNameFocused" type="button" data-toggle="dropdown">
              <span class="icon-plus"></span>
              <span ng-i18next>wb.AddWidget</span>
            </button>
            <ul class="dropdown-menu">
                <li><a ng-click="addVisualization('table',{});">{{'hinge.Table' | i18next}}</a></li>
                <li><a ng-click="addVisualization('crosstab',{});">{{'hinge.Crosstab' | i18next}}</a></li>
                <li><a ng-click="addVisualization('line',{})">{{'hinge.Timeseries' | i18next}}</a></li>
                <li><a ng-click="addVisualization('yoy',{})">{{'hinge.YearOverYear' | i18next}}</a></li>
                <li><a ng-click="addVisualization('pie',{})">{{'hinge.PieChart' | i18next}}</a></li>
                <li><a ng-click="addVisualization('bar',{})">{{'hinge.BarChart' | i18next}}</a></li>
                <li><a ng-click="addVisualization('map',{})">{{'hinge.Map' | i18next}}</a></li>
            </ul>
          </div>
         </div>
        <button class="btn btn-primary" ng-click="saveWorkbench()" ng-disabled="isWorkbenchNameFocused" popover="{{'wb.SaveWorkbench' | i18next}}"
                popover-trigger="mouseenter">
          <span class="icon-floppy"></span>
          <span ng-i18next>app.Save</span>
        </button>
        <button class="btn btn-primary" ng-click="saveAsWorkbench()" ng-disabled="isWorkbenchNameFocused" popover="{{'wb.SaveAsWorkbench' | i18next}}"
                popover-trigger="mouseenter">
          <span class="icon-floppy"></span>
          <span ng-i18next>app.SaveAs</span>
        </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <outpatient-filters-grid active-filters="activeFilters" possible-filters="possibleFilters" query-string="queryString" auto-run-query="autoRunQuery">

  </outpatient-filters-grid>
</div>

<!-- visualizations-->
<div class="container-fluid">
  <div class="row">
    <div gridster="gridsterOptions">
      <ul>
        <li class="workbench-visualization col-md-6 col-xs-12" id="{{viz.id}}" gridster-item="viz" ng-repeat="viz in visualizations">
          <div class="panel-body workbench-panel">
            <workbench-visualization pivot-options="pivotOptions" query-string="queryString" filters="activeFilters" auto-run-query="autoRunQuery"
                                     form="form"
                                     options="viz.options"
                                     visualization="viz.visualization"
                                     pivot="viz.pivot"
                                     size-x="viz.sizeX" size-y="viz.sizeY" row="viz.row" col="viz.col"
                                     on-close="removeVisualization(viz)">
            </workbench-visualization>
<!--
            <span class="top-left caret-top-left"></span>
            <span class="top-right caret-top-right"></span>
            <span class="bottom-left caret-bottom-left"></span>
            <span class="bottom-right caret-bottom-right"></span>
-->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
