<div class="container-fluid">
  <outpatient-filters-grid filters="filters" filter-types="filterTypes"
                           query-string="queryString"></outpatient-filters-grid>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" translate>Aggregate data</h4>

          <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary" ng-click="createRecord()" translate>New</button>
            <button type="button" class="btn btn-default" ng-click="upload()" translate>Upload</button>
            <button type="button" class="btn btn-primary" ng-click="importRecord()" translate>Import</button>
          </div>

        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover" frable="tableParams">
            <tr ng-repeat="record in $data">
              <td data-title="'Date' | translate" data-sortable="'visitDate'">
                <a ng-click="tableFilter('date', record._source.visitDate)">{{record._source.visitDate | date}}</a>
              </td>
              <td data-title="'Week' | translate">
                <a>{{getWeek(record._source.visitDate)}}</a>
              </td>
              <td data-title="'Year' | translate">
                <a>{{getYear(record._source.visitDate)}}</a>
              </td>
              <td data-title="'District' | translate" data-sortable="'medicalFacility.district'">
                <a ng-click="tableFilter('districts', record._source.medicalFacility.district)">{{record._source.medicalFacility.district}}</a>
              </td>
              <td data-title="'Total sites' | translate" data-sortable="'medicalFacility.sites.total'">
                <a>{{record._source.medicalFacility.sites.total}}</a>
              </td>
              <td data-title="'Number of sites reporting' | translate" data-sortable="'medicalFacility.sites.reporting'">
                <a>{{record._source.medicalFacility.sites.reporting}}</a>
              </td>
              <td data-title="'Symptoms' | translate">
                <a ng-click="tableFilter('symptoms', record._source.symptoms)">
                  {{printAggregate(record._source.symptoms,true) | truncate:100}}
                </a>
              </td>
              <td>
                <div class="btn-group btn-group-xs pull-right edit-controls">
                  <button type="button" class="btn btn-default" ng-click="editRecord(record)">
                    <span class="icon-pencil"></span>
                  </button>
                  <button type="button" class="btn btn-danger" ng-click="deleteRecord(record)">
                    <span class="icon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
