<div class="container-fluid">
  <outpatient-filters-grid active-filters="activeFilters" possible-filters="possibleFilters"
                           query-string="queryString"></outpatient-filters-grid>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" ng-i18next>op.OutpatientVisits</h4>

          <div class="pull-right" >
            <a class="btn btn-primary" ng-click="createVisit()" 
                    popover="{{'op.CreateNewVisit' | i18next}}" popover-trigger="mouseenter">
              <span class="icon-plus" ng-i18next>op.NewVisit</span>
            </a>
            <!-- disable import -->
            <a ng-show=" scope.form.datatype  !== 'aggregate'" class="btn btn-primary" ng-click="importVisits()" 
                    popover="{{'op.ImportCSV' | i18next}}" popover-trigger="mouseenter">
              <i class="fa fa-upload"></i><span ng-i18next>op.Import</span>
            </a>

            <a ng-show=" scope.form.datatype  === 'aggregate'" class="btn btn-primary" ng-click="importAggVisits()" 
                    popover="{{'op.ImportCSV' | i18next}}" popover-trigger="mouseenter">
              <i class="fa fa-upload"></i><span ng-i18next>op.Import</span>
            </a>
          </div>

          <span upload-aggregate></span>

        </div>
        <outpatient-table query-string="queryString" form="form"></outpatient-table>
      </div>
    </div>
  </div>
</div>
