<div class="container-fluid">
  <outpatient-filters-grid active-filters="activeFilters" possible-filters="possibleFilters"
                           query-string="queryString"></outpatient-filters-grid>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" ng-i18next>op.OutpatientVisits</h4>

          <div class="btn-group  pull-right" role="group">
            <button type="button" class="btn btn-primary" ng-click="createVisit()" ng-i18next
                    popover="{{'op.CreateNewVisit' | i18next}}" popover-trigger="mouseenter">
              op.NewVisit
            </button>
            <!-- disable import -->
            <!--<button type="button" class="btn btn-default" ng-click="importVisits()" ng-i18next-->
                    <!--popover="{{'op.ImportCSV' | i18next}}" popover-trigger="mouseenter">-->
              <!--op.Import-->
            <!--</button>-->
          </div>

        </div>
        <outpatient-table query-string="queryString" form="form"></outpatient-table>
      </div>
    </div>
  </div>
</div>
