<!-- search box -->
<div class="row">
  <div class="col-md-8">
    <form name="queryForm" class="query-string-form" role="form" novalidate ng-submit="submit(queryForm)">
      <div class="form-group" ng-class="{'has-error': isInvalid(queryForm.queryStrings), 'has-feedback': isInvalid(queryForm.queryStrings)}">
        <label class="sr-only" for="query-string" ng-i18next>op.Query</label>
        <input type="text" class="form-control" id="query-string" name="queryStrings" spellcheck="false" ng-model="queryString">
        <span ng-show="isInvalid(queryForm.queryStrings)" class="icon-cancel form-control-feedback"></span>
      </div>
    </form>
  </div>

  <div class="col-md-4">
  
  <toggle id="auto-query-toggle" ng-model="autoRunQuery" on="Auto Query" off="Manual Query" size="btn-sm" onstyle="btn-success" offstyle="btn-primary"></toggle>
  
  <button class="btn btn-primary btn-sm" type="button" ng-hide="autoRunQuery" ng-click="triggerQuery()"
              popover="{{'op.runQueryOnce' | i18next}}" popover-trigger="mouseenter">
        <span class="fa fa-play"></span>
   </button>
   </div>
</div>
<div class="col-xs-12" style="height:20px;"></div>

<!-- filter panels -->
<div class="row">
  <div class="col-xs-3 filter-panel" ng-repeat="filter in activeFilters">
    <div class="fracas-filter" outpatient-filter="filter" on-close="removeFilter($index)"></div>
  </div>
  <div class="col-md-1">
    <div class="btn-group">
      <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" type="button"
              popover="{{'op.AddFilter' | i18next}}" popover-trigger="mouseenter">
        <span class="icon-plus"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="add-filter-btn">
        <!-- The filters should be in a consistent order, and alphabetical order is as good as any
             (and easier to maintain) -->
        <li ng-repeat="filter in possibleFilters | orderObjectBy:'name'">
          <a ng-click="addFilter(filter)" ng-i18next>{{filter.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div ng-transclude></div>
</div>
