<!-- search box -->
<div class="row">
  <div class="col-md-12">
    <form name="queryForm" class="query-string-form" role="form" novalidate ng-submit="submit(queryForm)">
      <div class="form-group" ng-class="{'has-error': isInvalid(queryForm.queryStrings), 'has-feedback': isInvalid(queryForm.queryStrings)}">
        <label class="sr-only" for="query-string" translate>Query</label>
        <input type="text" class="form-control" id="query-string" name="queryStrings" spellcheck="false" ng-model="queryString">
        <span ng-show="isInvalid(queryForm.queryStrings)" class="icon-cancel form-control-feedback"></span>
      </div>
    </form>
  </div>
</div>

<br>

<div class="row" ng-repeat="r in filterGrid.rows">
  <div class="col-xs-3 filter-panel" ng-repeat="filter in r track by filter.id" ng-switch="filter.plus">
    <div class="btn-group" ng-switch-when="true">
      <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
        <span class="icon-plus"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="add-filter-btn">
        <li ng-repeat="filter in filterTypes">
          <a ng-click="addFilter(filter)">{{filter.name}}</a>
        </li>
      </ul>
    </div>
    <div ng-switch-default outpatient-filter="filter" on-close="removeFilter(filter)"></div>
  </div>
</div>
