<form name="visitForm" class="form" novalidate ng-submit="submit(visitForm)" ng-cloak>

  <!-- TODO something like http://bootsnipp.com/snippets/featured/form-process-steps -->

  <!-- TODO split off sections of form into separate directives for ease of maintenance, ala antiviral and specimen -->

  <fieldset ng-show="page === 1 || !paging">
    <!-- TODO red text on white background instead of alert -->
    <div class="alert alert-danger alert-show-hide" ng-show="yellAtUser" ng-i18next>op.msgFieldsRequired</div>
    <conflict-message ng-show="conflictError"></conflict-message>

    <!--
    data-field="fieldName" is used to determine what fields live on a given page. If a page doesn't contain any
    enabled fields, it is skipped. See nextPage() and previousPage() for more info.
  -->

    <div ng-repeat="field in fields">
      <div ng-if="field.enabled && field.filter.type === 'date-range'">
        <div class="form-group" data-field="{{field.name}}" ng-class="{'has-error': isInvalid(visitForm.{{field.name}}), 'has-warning': isInFuture(visit.{{field.name}})}">

          <label for="entry-{{field.name}}" ng-i18next>{{field.localeName}}</label>

          <div class="input-group">
            <!-- TODO in angular-ui/bootstrap master they removed weeks -->
            <input id="entry-{{field.name}}" name="{{field.name}}" type="text" class="form-control" required ng-model="visit[field.name]"
              datepicker-popup ng-init="current_date" current-text="{{'date.current' | i18next}}" clear-text="{{'date.clear' | i18next}}"
              close-text="{{'date.close' | i18next}}" toggle-weeks-text="{{'date.weeks' | i18next}}" show-weeks="false" is-open="datePopupsOpen.{{field.name}}">

            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="openDatePopup('{{field.name}}', $event)">
                <span class="icon-calendar"></span>
            </button>
            </span>
          </div>

          <span class="help-block" ng-show="isInFuture(visit.{{field.name}})" ng-i18next>
            op.msgFutureDate
          </span>
        </div>
      </div>
      <div ng-if="field.enabled && field.filter.type === 'multi-select' && field.table.type !== 'agg'">
        <div class="form-group" data-field="{{field.name}}">
          <label for="entry-visit-{{field.name}}" ng-i18next>{{field.localeName}}</label>

          <select class="form-control" id="entry-visit-{{field.name}}" name="{{field.name}}" ng-model="visit[field.name]">
            <option value=""></option>

            <!-- We don't use ng-options b/c then we couldn't insert the "Other" optgroup. But ng-repeat means we have to
            convert our model instances to strings, otherwise, since it uses reference equality, it wouldn't
            pre-select the right value -->
            <option ng-repeat="f in field.values" value="{{f.name}}"
              ng-selected="visit[field.name] === f.name"> 
              {{f.name}}
            </option>
          </select>
      </div>
    </div>
    <div ng-if="field.enabled && field.filter.type === 'multi-select' && field.table.type === 'agg'">
      <div ng-if="form.dataType === 'individual'">
        <label for="entry-visit-{{field.name}}" ng-i18next>{{field.localeName}}</label>
          <ui-select id="entry-visit-{{field.name}}" name="{{field.name}}" multiple
            ng-model="visit[field.name]">
            <ui-select-match>{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="s.name as s in field.values">
              {{s.name}}
            </ui-select-choices>
          </ui-select>
      </div>
      <div ng-if="form.dataType === 'aggregate'">
        <label for="entry-aggregate-{{field.name}}" ng-i18next>{{field.localeName}}</label>

        <div id="entry-aggregate-{{field.name}}" class="symptoms-edit-grid" ng-grid="gridOptions['{{field.name}}']"></div>
      </div>

      <span ng-show="isInvalid(visitForm.{{field.name}})" class="help-block" ng-i18next>op.SelectSymptoms</span>

    </div>
    <div ng-if="field.enabled && field.filter.type === 'text'">
      <div class="form-group" data-field="{{field.name}}">
        <label for="entry-visit-{{field.name}}" ng-i18next>{{field.localeName}}</label>

        <textarea class="form-control" id="entry-{{field.name}}" name="Notes"
          ng-model="visit[field.name]"></textarea>
      </div>
    </div>
    <div ng-if="field.enabled && field.fieldType === 'age'">
      <div class="form-group" data-field="{{field.name}}">
        <age-inputs></age-inputs>
      </div>
    </div>
  </fieldset>
  <div ng-transclude></div>

</form>