<div class="modal-header">
  <h4 class="modal-title" translate>Edit record</h4>
</div>
<div class="modal-body">
  <outpatient-form record="record" on-submit="onSubmit()"></outpatient-form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span translate>Cancel</span>
  </button>
  <button class="btn btn-primary" ng-click="save()">
    <span class="icon-ok"></span>
    <span translate>Save</span>
  </button>
</div>
