<div class="row viz-toolbar">
  <div class="col-md-3">
    <a class="icon-zoom-out" ng-click="zoom(2)" translate>Zoom out</a>
  </div>
  <div class="col-md-9">
    <form class="form-inline" role="form">
      <!-- time series options -->
      <!--<label class="checkbox-inline">-->
      <!--<input type="checkbox" checked>-->
      <!--<span translate>Lines</span>-->
      <!--</label>-->
      <!-- TODO bars, stack, percent, legend options, like Kibana has -->
      <!-- might have to forgo nvd3 and use d3 or flot directly to draw lines + bars on same graph -->

      <!-- interval -->
      <div class="form-group pull-right">
        <label translate>Interval</label>&nbsp;

        <select class="form-control" ng-model="interval">
          <!-- descending order from day, since day is most popular (probably) -->
          <option value="day" translate>day</option>
          <option value="week" translate>week</option>
          <option value="month" translate>month</option>
          <option value="year" translate>year</option>
          <option value="quarter" translate>quarter</option>
          <!-- elasticsearch also supports smaller intervals, but they're not that useful for our data and are
               expensive to calculate -->
          <!--<option translate>hour</option>-->
          <!--<option translate>minute</option>-->
          <!--<option translate>second</option>-->
        </select>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <svg class="custom-timeseries">
      <!-- g's must stay in this order. the layering matters for functionality (mouseover detecting) -->
      <g class="legend"></g>
      <g class="chart"></g>
      <g class="highlight-display"></g>
      <g class="ts-top-layer">
        <rect class="mouse-detector" height="0" width="0"
              ng-init="down=false; dragging=false;"
              ng-mousemove="timeSeriesHover($event);"
              ng-mouseleave="timeSeriesLeave()"
              ng-mousedown="down=true;"
              ng-mouseup="timeSeriesZoomIn($event); down=false; dragging=false">
        </rect>
      </g>
    </svg>
  </div>
</div>
