<div class="row viz-toolbar">
  <div class="col-md-3">
    <a class="icon-zoom-out" ng-click="zoom(2)" translate>Zoom out</a>
  </div>

  <div class="col-md-3">
    <button type="button" class="btn btn-primary" ng-model="tsTable.enabled" btn-checkbox translate>View table</button>
  </div>

  <div class="col-md-3">
    <form class="form-inline" role="form">
      <div class="form-group pull-right">
        <label translate>Algorithm</label>
        &nbsp;
        <select class="form-control" ng-model="options.algorithm">
          <!-- descending order from day, since day is most popular (probably) -->
          <option value="CUSUM" translate>CUSUM</option>
          <option value="EWMA" translate>EWMA</option>
        </select>
      </div>
    </form>
  </div>

  <div class="col-md-3">
    <form class="form-inline" role="form">
      <!-- time series options --><!--<label class="checkbox-inline">--><!--<input type="checkbox" checked>-->
      <!--<span translate>Lines</span>--><!--</label>-->
      <!-- TODO bars, stack, percent, legend options, like Kibana has -->
      <!-- might have to forgo nvd3 and use d3 or flot directly to draw lines + bars on same graph -->

      <!-- interval -->
      <div class="form-group pull-right">
        <label translate>Interval</label>
        &nbsp;

        <select class="form-control" ng-model="options.interval">
          <!-- descending order from day, since day is most popular (probably) -->
          <option value="day" translate>day</option>
          <option value="week" translate>week</option>
          <option value="month" translate>month</option>
          <option value="year" translate>year</option>
          <option value="quarter" translate>quarter</option>
          <!-- elasticsearch also supports smaller intervals, but they're not that useful for our data and are
               expensive to calculate --><!--<option translate>hour</option>--><!--<option translate>minute</option>-->
          <!--<option translate>second</option>-->
        </select>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <highchart id="highcharts-id-{{options.id}}" config="chartConfig"></highchart>
  </div>
</div>


<div class="check-element animate-show" ng-show="tsTable.enabled">
  <div class="table-responsive" id="table-view">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
          <th>
            <a ng-click="setCriteria('date')">Date</a>
          </th>
          <th>
            <a ng-click="setCriteria('series')">Series</a>
          </th>
          <th>
            <a ng-click="setCriteria('count')">Count</a>
          </th>
          <th>
            <a ng-click="setCriteria('expected')">Expected Value</a>
          </th>
          <th>
            <a ng-click="setCriteria('pValue')">p-Value</a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in tableMapJSON | orderObjectBy:  criteria : direction ">
          <td>
            {{list.date | date:'shortDate'}}
          </td>
          <td>
            {{list.series }}
          </td>
          <td>
            {{list.count }}
          </td>
          <td ng-class='{"bg-warning": list.pValue < 0.05 && list.pValue > .01, "bg-danger" : list.pValue <= 0.01}'>
            {{list.expected | number:0}}
          </td>
          <td ng-class='{"bg-warning": list.pValue < 0.05 && list.pValue > .01, "bg-danger" : list.pValue <= 0.01}'>
            {{list.pValue | number:3}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--
<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed" frable="tableParams">
        <tr>
            <td ng-repeat="name in colNames">
                {{name}}
            </td>
        </tr>
        <tr ng-repeat="list in results">
            <td ng-class='{red : list.changeColor, black: !list.changeColor}'>{{list.value}}</td>
            <td>{{list.price}}</td>
        </tr>
    </table>
</div>
-->
