<hinge visualization="visualization" pivot="pivot" options="pivotOptions" on-close="close()">
  <div class="animate-switch-container" ng-switch on="visualization.name"> <!-- TODO define animation CSS -->
    <div class="animation-switch" ng-switch-when="table">
      <div class="table-responsive">
        <!-- can't reuse the table used for editing b/c that's a lot bigger -->
        <table class="table table-striped table-hover table-condensed" frable="tableParams">
          <tr ng-repeat="visit in $data">
            <td data-title="strings.date" sortable="'reportDate'">{{visit._source.reportDate | date}}</td>
            <td data-title="strings.sex" sortable="'patient.sex'">{{visit._source.patient.sex}}</td>
            <td data-title="strings.age" sortable="'patient.age'">{{visit._source.patient.age}}</td>
            <td data-title="strings.symptoms">{{visit._source.symptoms | join | truncate:30}}</td>
            <td data-title="strings.edit" class="btn-group btn-group-xs">
              <button type="button" class="btn btn-default" ng-click="editVisit(visit)">
                <span class="icon-pencil"></span>
              </button>
              <button type="button" class="btn btn-danger" ng-click="deleteVisit(visit)">
                <span class="icon-trash"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="animation-switch" ng-switch-when="crosstab">
      <crosstab records="tabularData" options="pivot"></crosstab>
    </div>
    <div class="animation-switch" ng-switch-when="line">
      <outpatient-time-series query-string="queryString" series="pivot.cols"></outpatient-time-series>
    </div>
    <div class="animation-switch" ng-switch-when="pie">TODO pie char</div>
    <div class="animation-switch" ng-switch-when="bar">TODO bar chart</div>
    <div class="animation-switch" ng-switch-default>Unknown visualization {{visualization}} :(</div>
  </div>
</hinge>
