<div class="row viz-toolbar">
  <div class="col-md-2 padding-zoom-out">
    <a class="icon-zoom-out" ng-click="zoom(2)" ng-i18next>op.ZoomOut</a>
  </div>
  <div class="col-md-2"></div>

  <div class="col-md-5 nopadding">
    <form class="form-inline" role="form">
      <div class="form-group pull-right">
        <label ng-i18next>op.Years</label>
        &nbsp;

        <select class="form-control input-sm" ng-model="options.range">
          <!-- descending order from day, since day is most popular (probably) -->
          <option value=1 ng-i18next>op.one</option>
          <option value=2 ng-i18next>op.two</option>
          <option value=3 ng-i18next>op.three</option>
          <option value=4 ng-i18next>op.four</option>
          <option value=5 ng-i18next>op.five</option>
        </select>
      </div>
    </form>
  </div>

  <div class="col-md-3 nopadding-right">
    <form class="form-inline" role="form">
      <!-- interval -->
      <div class="form-group pull-right">
        <label ng-i18next>op.Interval</label>
        &nbsp;

        <select class="form-control input-sm" ng-model="options.interval">
          <!-- descending order from day, since day is most popular (probably) -->
          <option value="day" ng-i18next>op.day</option>
          <option value="week" ng-i18next>op.week</option>
          <option value="month" ng-i18next>op.month</option>
          <option value="year" ng-i18next>op.year</option>
          <option value="quarter" ng-i18next>op.quarter</option>
        </select>
      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <highchart id="highcharts-id-{{options.id}}" config="chartConfig"></highchart>
  </div>
</div>
