@charset "UTF-8";

@import "bootstrap";
// use our custom bootstrap build
@import "fracas-theme/flatly/variables";
@import "fracas-theme/flatly/bootswatch";
@import "fracas-fonts/fonts";
@import "../../bower_components/font-awesome/less/font-awesome";
@import (less) "humane-js/themes/libnotify.css";
@import (less) "angular-loading-bar/build/loading-bar.css";
@import (less) "angular/angular-csp.css";
@import (less) "fracas-jquery-ui/jquery-ui.css";
@import (less) "ng-grid/ng-grid.css";
@import (less) "angular-ui-select/dist/select.css";
@import "../frable/frable";
// TODO figure out a way to include addons w/o having to manually add it here
@import "../../bower_components/ng-table/dist/ng-table.less";
@import "../select2/select2";
@import "../crosstab/crosstab";
@import "../hinge/hinge";
@import "../outpatient/fracas-charts";
@import "select";
@import "variables";
@import "mixins";
@import "animations";
@import "maps";
@import "dashboard";
@import "popover";
@import "tiles";
@import "viz-menu";
@import "workbench";
@import "report";
@import "export";
@import "import";

.navbar-brand {
  // Fix https://github.com/thomaspark/bootswatch/commit/5226a30d7df2eb15a06b9014507da767d205de30
  padding-top: 13px; // there's probably some magic formula that makes this work, but oh well
}

// notification settings
.humane {
  font-family: @font-family-sans-serif;
  font-size: @font-size-large;
  width: 300px;
}

.humane-error {
  background-color: @brand-danger;
  background-image: none; // TODO see if this breaks IE
}

// for ng-bootstrap, see http://angular-ui.github.io/bootstrap
.nav, .panel-title, .pagination {
  a {
    cursor: pointer;
  }
}

a[ng-click] {
  cursor: pointer;
}

.frable-pager {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pager a, .pager a:hover {
  color: @gray-dark;
}

table[datepicker] {
  td, th {
    padding: 1px;
  }
}

ul[datepicker-popup-wrap] {
  min-width: 298px; // Firefox tries to wrap it in parent div, which looks neater but compresses it too much
  padding: 9px;
}

body {
  // compensate for sticky footers
  padding-bottom: @navbar-height + @padding-large-vertical;
}

// see http://stackoverflow.com/a/18429555
.form-inline .form-group {
  margin-left: 0;
  margin-right: 0;
}

.table {
  // this looks better on all the tables we have so far, but we may need to re-evaluate in the future
  margin-bottom: 0px;

  a {
    // no idea why bootswatch uses underline, but it looks horrible on the workbench
    text-decoration: inherit;
  }
}

.table-scroll-x {
  overflow-x: scroll;
}

// This is bootstrap's default, but they don't expose it as a variable. We do this in case it ever changes.
.panel-heading {
  padding: @padding-base-vertical @padding-base-horizontal;

  .panel-control {
    position: relative;
    top: -@padding-base-vertical;
    right: -@padding-base-horizontal;
    float: right;

    .icon-export {
      font-size: 20px; // default of 22.5px is too big
    }
  }

  // ensure panel title is vertically centered when we have weird layout in header,
  // see http://stackoverflow.com/a/20412225
  .panel-title.pull-left {
    padding-top: @padding-base-vertical;
  }

  // Panel heading with less padding, for when the table's contents are less than the table header
  &.condensed {
    padding: @padding-small-vertical @padding-small-horizontal;

    .panel-control {
      top: -@padding-small-vertical;
      right: -@padding-small-horizontal;
    }
  }
}

// don't show table border when panel-body is hidden
.panel {
  > .panel-body.ng-hide + .table,
  > .panel-body.ng-hide + .table-responsive {
    border-top: 0px;
    //border-top: 1px solid @table-border-color;
  }
}

fracas-filter .panel {
  input {
    text-align: center; // center input placeholders
  }

  .form > .form-group {
    display: inline; // to match the height of range filters which are form-inline
  }
}

.query-string-form {
  .form-control-feedback {
    top: 0;
  }
}

.login-header {
  padding-top: @padding-large-vertical;

  // add more padding if there's enough space
  @media (min-width: @screen-sm-min) {
    padding-top: @padding-large-vertical * 3;
  }

  padding-bottom: @padding-large-vertical * 2;

  .tagline {
    .pull-right();
    margin-top: 5px; // offset slightly below brand
  }
}

.error-msg {
  color: @brand-danger;
}

.export,
.save,
.settings {
  .close();
}

// a horizontal rule with text in the middle, e.g. ------- text --------
.hr-text-container {
  position: relative;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  > hr {
    background-color: @text-muted;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .hr-text {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: @body-bg; // so hr doesn't go through text
    width: 50px;
    text-align: center;
  }
}

.edit-controls.btn-group {
  min-width: 70px;
}

.fracas-filter {
  height: 160px; // fixed height so tall elements don't cause weird wrapping in our >12 col filter grid
}

.date-filter input.form-control {
  width: 100%;
}

.date-filter {
  min-width: 140px;
}

.filter-panel {
  min-width: 200px;
}

.viz-toolbar {
  padding: @padding-base-vertical @padding-base-horizontal;
}

.toolbar-icon{
  margin-top: 5px;
  color: black;
}

.ui-resizable-helper {
  border: 2px solid @brand-primary;
  border-radius: 4px;
}

.add-viz-btn {
  position: relative;
  top: 20px;
}

workbench-visualization .frable-pagination {
  margin: 2px 0px 0px 0px;
}

.ta-editor {
  min-height: 350px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin: 20px 0;
}

@media print {
  .ta-toolbar {
    display: none;
  }
}

.preview-grid {
  border: 1px solid rgb(212, 212, 212);
  width: 550px;
  height: 200px;
}

.preview-grid-wrapper {
  width: 100%;
  overflow: hidden;
}

.symptoms-edit-grid {
  border: 1px solid rgb(212, 212, 212);
  height: 160px;
  width: 558px;
}

.csv-field {
  width: 95%;
}

@media print {
  @page {
    size: landscape
  }
}

input.invalidFilename-true {
  background-color: #e74c3c;
}

.gridster-preview-holder {
  background-color: #5F8AAE;
}

.category-group-grid {
  width: 700px;
  height: 150px;
}

// If a button is part of a button group, they move when user hower over it
// Following is a CSS fix for it (https://github.com/twbs/bootstrap/issues/5704)
.btn-group > .tooltip + .btn,
.btn-group > .popover + .btn {
  margin-left: -1px;
}

.gridStyle {
  border: 1px solid rgb(212, 212, 212);
  width: 850px;
  height: 400px;
}

.warning {
  background-color: LemonChiffon;
  color: black;
}

.alert {
  background-color: Tomato;
  color: white;
}
