@import "bootstrap/less/bootstrap";

@icon-font-path: "/public/fonts/bootstrap/";

// for ng-bootstrap
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

html, body {
  margin: 20px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
