@import (less) "leaflet/dist/leaflet.css";

// override where to find Leaflet's layer switcher icon
.leaflet-control-layers-toggle {
  background-image: url(/public/images/maps/layers.png);
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(/public/images/maps/layers-2x.png);
}

leaflet-map .map {
  width: 500px;
  height: 500px;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  left: 0px; top: 0px;
  display: block;
}

leaflet-map .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
leaflet-map .info h4 {
    margin: 0 0 5px;
    color: #777;
}

leaflet-map .legend {
    line-height: 18px;
    color: #555;
}
leaflet-map .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}