<div class="modal-header">
  <h4 class="modal-title" translate>Are you sure you want to delete this record?</h4>
</div>
<div class="modal-body">
  <!-- this is a generic display of the data: it displays JSON, e.g. medicalFacility is {"district": "District 1"}.
       We probably want a slightly friendlier, although non-universal, display of the record -->
  <dl class="dl-horizontal" ng-repeat="(key, value) in record._source" ng-if="key != 'paperTrail'">
    <dt>{{key | translate}}</dt>
    <dd>{{value | translate}}</dd>
  </dl>
</div>
<div class="modal-footer">
  <!-- include i18n-friendly images -->
  <button class="btn btn-default" ng-click="cancel()">
    <span translate>Cancel</span>
  </button>
  <button class="btn btn-danger" ng-click="delete()">
    <span class="icon-trash"></span>
    <span translate>Delete</span>
  </button>
</div>
