<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" ng-bind="title"></h4>
          <button type="button" class="btn btn-primary pull-right" ng-click="createRecord()" ng-bind="buttonText">
          </button>
        </div>

        <!-- table, or whatever else you want, goes here -->
        <div ng-transclude></div>
      </div>
    </div>
  </div>
</div>
