<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#fracas-example-navbar-collapse-1">
        <span class="sr-only" translate>Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home.content">Fracas</a>
    </div>

    <div class="collapse navbar-collapse" id="fracas-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!-- Dashboard -->
        <li class="dropdown"> <!-- TODO active -->
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="icon-gauge"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="dashboard({dashboardId: ''})" translate>New dashboard</a></li>
            <li role="presentation"class='divider' ng-show="user.isAdmin() && dashboards.length > 0"></li>
            <li data-ng-repeat="dashboard in dashboards">
              <a ui-sref="dashboard({dashboardId:'{{dashboard.id}}'})">{{dashboard.name}}</a>
            </li>
            <li role="presentation"class='divider' ng-show="user.isAdmin()"></li>
            <li><a ng-click="openDashboard()" translate>Open dashboard</a></li>
            <li><a ui-sref="edit.dashboard" translate>Manage</a></li>
          </ul>
        </li>

        <!-- Workbench -->
        <li ui-sref-active="active">
          <a class="icon-chart-bar" ui-sref="workbench"></a>
        </li>

        <!-- Open -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="icon-folder-open"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="visitsReport()" translate>Outpatient Visits Report</a></li>
            <li><a translate>Saved query</a></li>
            <li><a translate>Something else</a></li>
          </ul>
        </li>

        <!-- Edit -->
        <li class="dropdown" ng-show="user.isDataEnterer() || user.isAdmin()">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="icon-pencil"></span></a>
          <ul class="dropdown-menu">
            <!-- TODO define this in outpatient module -->
            <li><a ui-sref="edit.visit" translate>Outpatient visits</a></li>
            <li role="presentation" class="divider" ng-show="user.isAdmin()"></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.district" translate>Districts</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.diagnosis" translate>Diagnoses</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.symptom" translate>Symptoms</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.syndrome" translate>Syndromes</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.discharge" translate>Discharges</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.visitType" translate>Visit Types</a></li>
            <li role="presentation" class="divider" ng-show="user.isAdmin()"></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.user" translate>Users</a></li>
          </ul>
        </li>

        <!-- Export report -->
        <li><a class="icon-export" ui-sref="report.save({url: currentPath})"></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            {{user.getUser().name || user.getUser().username}}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="settings" translate>Settings</a>
              <a ng-click="logout()" translate>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- child templates are inserted here -->
<div ui-view></div>
