<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#fracas-example-navbar-collapse-1">
        <span class="sr-only" translate>Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home.content" ng-bind="appName"></a>
    </div>

    <div class="collapse navbar-collapse" id="fracas-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!-- Dashboard -->
        <li class="dropdown"> <!-- TODO active -->
          <!-- Delay loading items until we need them. This prevents Ajax spam every time you load the page, and means
               that the list of items will always be up to date. This should really fire on mousenter so that the query
               runs even earlier, but that doesn't work on mobile. -->
          <a class="dropdown-toggle" data-toggle="dropdown" ng-click="loadDashboards()">
            <span class="icon-gauge"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="dashboard({dashboardId: ''})" translate>New dashboard</a></li>
            <li><a ng-click="openDashboard()" translate>Open dashboard</a></li>

            <!-- TODO get rid of this and fold functionality into dashboard view  -->
            <li><a ui-sref="edit.dashboard" translate>Manage dashboards</a></li>

            <li role="presentation" class="divider" ng-show="dashboards.length > 0"></li>
            <!-- We don't actually show the most recent dashboards, but oh well -->
            <li role="presentation" class="dropdown-header" translate>Recent dashboards</li>
            <!-- TODO show spinner while we're loading the dashboards -->
            <li ng-repeat="dashboard in dashboards | limitTo:5">
              <a ui-sref="dashboard({dashboardId:'{{dashboard.id}}'})">{{dashboard.name}}</a>
            </li>
          </ul>
        </li>

        <!-- Workbench -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" ng-click="loadWorkbenches()">
            <span class="icon-chart-bar"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="workbench({workbenchId: ''})" translate>New workbench</a></li>
            <li><a ng-click="openWorkbench()" translate>Open workbench</a></li>
            <li><a ui-sref="edit.workbench" translate>Manage workbenches</a></li>

            <li role="presentation" class="divider" ng-show="workbenches.length > 0"></li>
            <!-- We don't actually show the most recent workbenches, but oh well -->
            <li role="presentation" class="dropdown-header" translate>Recent workbenches</li>
            <li ng-repeat="workbench in workbenches | limitTo:5">
              <a ui-sref="workbench({workbenchId:'{{workbench._id}}'})">{{workbench._source.name}}</a>
            </li>
          </ul>
        </li>

        <!-- Open TODO make this reports -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="icon-folder-open"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-click="visitsReport()" translate>Outpatient Visits Report</a></li>
            <li><a ng-click="weeklyReport()" translate>Reported Cases by Country - Table</a></li>
            <li><a ng-click="timeseriesReport()" translate>Reported Cases by Country - Time Series</a></li>
          </ul>
        </li>

        <!-- Edit -->
        <li class="dropdown" ng-show="user.isDataEnterer() || user.isAdmin()">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class="icon-pencil"></span></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header" translate>Edit</li>
            <!-- TODO define this in outpatient module -->
            <li><a ui-sref="edit.visit" translate>Outpatient visits</a></li>
            <li><a ui-sref="edit.aggregate" translate>Aggregate Data</a></li>
            <li role="presentation" class="divider" ng-show="user.isAdmin()"></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.district" translate>Districts</a></li>
            <!--<li><a ng-show="user.isAdmin()" ui-sref="edit.diagnosis" translate>Diagnoses</a></li>-->
            <li><a ng-show="user.isAdmin()" ui-sref="edit.symptom" translate>Symptoms</a></li>
            <!--<li><a ng-show="user.isAdmin()" ui-sref="edit.syndrome" translate>Syndromes</a></li>-->
            <!--<li><a ng-show="user.isAdmin()" ui-sref="edit.discharge" translate>Discharges</a></li>-->
            <!--<li><a ng-show="user.isAdmin()" ui-sref="edit.visitType" translate>Visit Types</a></li>-->
            <li role="presentation" class="divider" ng-show="user.isAdmin()"></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.user" translate>Users</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.visualization" translate>Visualizations</a></li>
          </ul>
        </li>

        <!-- Export report url: currentPath-->
        <li><a class="icon-export" ui-sref="report.save({test: derpderp})"></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            {{user.getUser().name || user.getUser().username}}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a ui-sref="settings" translate>Settings</a>
              <a ng-click="logout()" translate>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- child templates are inserted here -->
<div ui-view></div>
