<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" btn-checkbox ng-model="navbar.collapse">
        <span class="sr-only" ng-i18next>navBar.toggleNavigation</span>
        <!-- three horizontal lines, AKA the "hamburger" menu -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home.content" ng-i18next="[html]{{appName}}"></a>
    </div>

    <div class="collapse navbar-collapse" collapse="navbar.collapse">
      <ul ng-show="isSiteConfig" class="nav navbar-nav">

        <!-- Dashboard -->
        <li class="dropdown" ng-class="{ active: isActive('/dashboard')}"> <!-- TODO active -->
          <!-- Delay loading items until we need them. This prevents Ajax spam every time you load the page, and means
               that the list of items will always be up to date. This should really fire on mousenter so that the query
               runs even earlier, but that doesn't work on mobile. -->
          <a class="dropdown-toggle" data-toggle="dropdown" ng-click="loadDashboards()">
            <span class="icon-gauge"></span>{{'navBar.dashboard' | i18next}}
          </a>

          <ul class="dropdown-menu">
            <li><a ui-sref="dashboard({dashboardId: ''})" ng-i18next>navBar.newDashboard</a></li>
            <li><a ng-click="openDashboard()" ng-i18next>navBar.openDashboard</a></li>

            <!-- TODO get rid of this and fold functionality into dashboard view  -->
            <li><a ui-sref="edit.dashboard" ng-i18next>navBar.manageDashboards</a></li>

            <li role="presentation" class="divider" ng-show="dashboards.length > 0"></li>
            <!-- We don't actually show the most recent dashboards, but oh well -->
            <li role="presentation" class="dropdown-header" ng-i18next>navBar.recentDashboards</li>
            <!-- TODO show spinner while we're loading the dashboards -->
            <li ng-repeat="dashboard in dashboards | limitTo:5">
              <a ui-sref="dashboard({dashboardId:'{{dashboard.id}}'})">{{dashboard.name}}</a>
            </li>
          </ul>
        </li>

        <!-- Workbench -->
        <li class="dropdown" ng-class="{ active: isActive('/workbench')}">
          <a class="dropdown-toggle" data-toggle="dropdown" ng-click="loadWorkbenches()">
            <span class="icon-chart-bar"></span>{{'navBar.workbench' | i18next}}
          </a>
          <ul class="dropdown-menu">
            <li><a ui-sref="workbench({workbenchId: ''})" ng-i18next>navBar.newWorkbench</a></li>
            <li><a ng-click="openWorkbench()" ng-i18next>navBar.openWorkbench</a></li>
            <li><a ui-sref="edit.workbench" ng-i18next>navBar.manageWorkbenches</a></li>

            <li role="presentation" class="divider" ng-show="workbenches.length > 0"></li>
            <!-- We don't actually show the most recent workbenches, but oh well -->
            <li role="presentation" class="dropdown-header" ng-i18next>navBar.recentWorkbenches</li>
            <li ng-repeat="workbench in workbenches | limitTo:5">
              <a ui-sref="workbench({workbenchId:'{{workbench._id}}'})">{{workbench._source.name}}</a>
            </li>
          </ul>
        </li>

        <!-- Open TODO make this reports -->
        <!-- <li class="dropdown" ng-class="{ active: isActive('/report')}">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="icon-folder-open"></span>{{'navBar.report' | i18next}}
          </a>
          <ul class="dropdown-menu">
            <li><a ng-click="visitsReport()" ng-i18next>navBar.outpatientVisitsReport</a></li>
            <!--<li><a ng-click="weeklyReport()" ng-i18next>Reported Cases by Country - Table</a></li>-->
            <!--<li><a ng-click="timeseriesReport()" ng-i18next>Reported Cases by Country - Time Series</a></li>-->
          <!-- </ul>
        </li>-->

        <!-- Edit -->
        <li class="dropdown" ng-class="{ active: isActive('/edit')}" ng-show="user.isDataEnterer() || user.isAdmin()">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="icon-pencil"></span>{{'navBar.edit' | i18next}}
          </a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header" ng-i18next>navBar.edit</li>
            <!-- TODO define this in outpatient module -->
            <li><a ui-sref="edit.visit" ng-i18next>navBar.outpatientVisits</a></li>
            <li role="presentation" class="divider" ng-show="user.isAdmin()"></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.config" ng-i18next>navBar.configuration</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.translation" ng-i18next>navBar.translation</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.user" ng-i18next>navBar.users</a></li>
            <li><a ng-show="user.isAdmin()" ui-sref="edit.visualization" ng-i18next>navBar.visualizations</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <select class="form-control" ng-model="site.locale" ng-i18next="[placeholder]app.Any"> 
              <option ng-repeat="item in localeSelect2Options" value="{{item.value}}"
                      ng-selected="site.locale === item.value">{{item.label}}</option>
            </select>
          </div>
        </form>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            {{user.getUser().name || user.getUser().username}}<b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ng-show="user.isAdmin()">
              <a href="{{repoUrl}}/commit/{{commit}}">Version: {{commit}}</a>
            </li>
            <li ng-show="user.isAdmin()">
              <a>Build: {{deployDate}}</a>
            </li>
            <li>
              <!--<a ui-sref="settings" ng-i18next>navBar.settings</a>-->
              <a ng-click="logout()" ng-i18next>navBar.logout</a> {{git}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- child templates are inserted here -->
<div ui-view></div>
