<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <header class="login-header">
        <h3>Fracas</h3>
      </header>
      <button type="button" class="btn btn-lg btn-success btn-block" ng-click="promptForLogin()" translate>
        Sign in / Sign up with Persona
      </button>
      <div class="hr-text-container">
        <hr>
        <span class="hr-text text-muted">or</span>
      </div>
      <form name="loginForm" role="form" novalidate ng-submit="submit(loginForm)">
        <!-- username -->
        <div class="form-group" ng-class="{'has-error': isInvalid(loginForm.username)}">
          <label for="login-username-email" translate>Username or email</label>
          <input type="text" class="form-control" id="login-username-email" name="username"
                 ng-model="credentials.username" required>
        </div>

        <!-- password -->
        <div class="form-group" ng-class="{'has-error': isInvalid(loginForm.password) || badCredentials}">
          <!-- Google's login forms only mark password as invalid so that's what we do. Makes sense since that's
               probably what's incorrect most of the time -->

          <!-- TODO implement password reset -->
          <!--<a class="pull-right" translate>Forgot password?</a>-->

          <label for="login-password" translate>Password</label>
          <input type="password" class="form-control" id="login-password" name="password"
                 ng-model="credentials.password" required>
        </div>

        <div class="help-block error-msg" ng-show="badCredentials" translate>
          The username or password you entered is incorrect.
        </div>

        <button type="submit" class="btn btn btn-primary" translate>Sign in</button>
        <!-- TODO prompt user for required fields-->

        <!-- tagline -->
        <span class="h4 pull-right" translate>&hellip;for disease surveillance</span>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-link" href="http://en.wikipedia.org/wiki/Girolamo_Fracastoro">Girolamo Fracastoro</a>
        </li>
        <!-- TODO more links -->
      </ul>
    </div>
  </div>
</nav>
