<div class="container">
  <div class="row">
    <div class="span12">
      <div class="jumbotron">
        <h1 ng-i18next>pa.PageNotFound<span>:(</span></h1>

        <h3>
          <span ng-i18next>pa.msgPageNotFound</span>
          <a ng-show="url" href="{{url}}"><b>{{displayUrl}}</b></a>

          <!-- this happens when user loads /not-found directly -->
          <span ng-hide="url" ng-i18next>pa.msgPageLookingFor</span>

        </h3>
        <a ui-sref="home.content" class="btn btn-primary btn-lg">
          <span class="icon-home"></span>
          <span ng-i18next>pa.Home</span>
        </a>
      </div>
    </div>
  </div>
</div>
