

<div class="modal-header">
  <h4 class="modal-title" translate>Save this page</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="container.saveReportForm" novalidate>
    <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label" for="srd-modal-name">Name</label>

        <div class="col-md-5">
          <input id="srd-modal-name" name="name" type="text" placeholder="Name"
                 class="form-control input-md invalidFilename-{{warnUserOfInvalidName(container.report.name)}}"
                 ng-model="container.report.name" required>
          <span class="help-block">What to call this report</span>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <!-- include i18n-friendly images -->
  <div class="progress" style="display: none;">
    <div class="progress-bar" role="progressbar" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    </div>
  </div>
  <button class="btn btn-warning cancelButton" ng-click="cancel()">
    <span class="icon-cancel"></span>
    <span translate>Cancel</span>
  </button>
  <!--container.saveReportForm.$invalid?-->
  <!--container.report.name-->
  <button class="btn btn-primary saveButton" ng-click="ok()" ng-disabled="filenameInvalid(container.report.name)">
    <span class="icon-ok"></span>
    <span translate>Save</span>
  </button>
</div>
