<ul class="tile-panel">
  <li>
    <a ng-click="selectVisualization('table')">
      <span class="icon-table tile-icon"></span>
      <h4 translate>Table</h4>
    </a>
  </li>

  <li>
    <a ng-click="selectVisualization('crosstab')">
      <span class="icon-cube tile-icon"></span>
      <h4 translate>Crosstab</h4>
    </a>
  </li>

  <li>
    <a ng-click="selectVisualization('line')">
      <span class="icon-chart-line tile-icon"></span>
      <h4 translate>Time series</h4>
    </a>
  </li>

  <li>
    <a ng-click="selectVisualization('bar')">
      <span class="icon-chart-bar tile-icon"></span>
      <h4 translate>Bar chart</h4>
    </a>
  </li>

  <li>
    <a ng-click="selectVisualization('pie')">
      <span class="icon-chart-pie tile-icon"></span>
      <h4 translate>Pie chart</h4>
    </a>
  </li>

  <li>
    <a ng-click="selectVisualization('map')">
      <span class="icon-globe tile-icon"></span>
      <h4 translate>Map</h4>
    </a>
  </li>

</ul>
