<div ng-switch on="menuView">
  <ul class="tile-panel" ng-switch-default>
    <li class="tile">
      <a ng-click="selectVisualization('table')">
        <span class="icon-table tile-icon"></span>
        <h4 translate>Table</h4>
      </a>
    </li>

    <li class="tile">
      <a ng-click="selectVisualization('crosstab')">
        <span class="icon-cube tile-icon"></span>
        <h4 translate>Crosstab</h4>
      </a>
    </li>

    <li class="tile">
      <a ng-click="selectVisualization('line')">
        <span class="icon-chart-line tile-icon"></span>
        <h4 translate>Time series</h4>
      </a>
    </li>

    <li class="tile">
      <a ng-click="changeView('bar-settings')">
        <span class="icon-chart-bar tile-icon"></span>
        <h4 translate>Bar chart</h4>
      </a>
    </li>

    <li class="tile">
      <a ng-click="changeView('pie-settings')">
        <span class="icon-chart-pie tile-icon"></span>
        <h4 translate>Pie chart</h4>
      </a>
    </li>

    <li class="tile">
      <a ng-click="selectVisualization('map')">
        <span class="icon-globe tile-icon"></span>
        <h4 translate>Map</h4>
      </a>
    </li>
  </ul>

  <div ng-switch-when="bar-settings">
    <button type="button" class="btn btn-info back-button" ng-click="changeView('main')">
      <span>&larr;</span>
      <span translate>Back</span>
    </button>
    <ul class="tile-panel">
      <li class="tile">
        <a ng-click="selectVisualization('bar')">
          <span class="icon-chart-bar tile-icon"></span>
          <h4 translate>Blank</h4>
        </a>
      </li>

      <li class="tile">
        <a ng-click="selectVisualization('bar', {pivot: {rows: [], cols: ['age']}})">
          <span class="icon-chart-bar tile-icon"></span>
          <h4 translate>Age</h4>
        </a>
      </li>

      <li class="tile">
        <a ng-click="selectVisualization('bar', {pivot: {rows: [], cols: ['sex']}})">
          <span class="icon-chart-bar tile-icon"></span>
          <h4 translate>Sex</h4>
        </a>
      </li>

      <li class="tile">
        <a ng-click="selectVisualization('bar', {pivot: {rows: ['age'], cols: ['sex']}})">
          <span class="icon-chart-bar tile-icon"></span>
          <h4 translate>Age & Sex</h4>
        </a>
      </li>
    </ul>
  </div>

  <div ng-switch-when="pie-settings">
    <button type="button" class="btn btn-info back-button" ng-click="changeView('main')">
      <span>&larr;</span>
      <span translate>Back</span>
    </button>
    <ul class="tile-panel">
      <li class="tile">
        <a ng-click="selectVisualization('pie')">
          <span class="icon-chart-pie tile-icon"></span>
          <h4 translate>Blank</h4>
        </a>
      </li>

      <li class="tile">
        <a ng-click="selectVisualization('pie', {pivot: {rows: [], cols: ['age']}})">
          <span class="icon-chart-pie tile-icon"></span>
          <h4 translate>Age</h4>
        </a>
      </li>

      <li class="tile">
        <a ng-click="selectVisualization('pie', {pivot: {rows: [], cols: ['sex']}})">
          <span class="icon-chart-pie tile-icon"></span>
          <h4 translate>Sex</h4>
        </a>
      </li>

      <li class="tile">
        <a ng-click="selectVisualization('pie', {pivot: {rows: ['age'], cols: ['sex']}})">
          <span class="icon-chart-pie tile-icon"></span>
          <h4 translate>Age & Sex</h4>
        </a>
      </li>
    </ul>
  </div>

</div>
