<div class="container-fluid">
  <outpatient-filters-grid filters="filters" filter-types="filterTypes" query-string="queryString">
    <!-- TODO these buttons are in a weird place -->
    <div class="col-md-3 pull-right">
      <div class="well text-center">
        <button class="btn btn-primary" ng-click="addVisualization()">
          <span class="icon-plus"></span>
          <span translate>Add widget</span>
        </button>
        <button class="btn btn-default" ng-click="saveWorkbench()">
          <span class="icon-floppy"></span>
          <span translate>Save</span>
        </button>
      </div>
    </div>
  </outpatient-filters-grid>
</div>

<!-- visualizations-->
<div class="container-fluid">
  <div class="row">
    <div gridster="gridsterOptions">
      <ul>
        <li class="workbench-visualization" gridster-item="viz" ng-repeat="viz in visualizations">
          <div class="panel-body workbench-panel">
            <workbench-visualization pivot-options="pivotOptions" query-string="queryString"
                                     filters="workbench.filters" options="options"
                                     visualization="viz.visualization"
                                     pivot="viz.pivot"
                                     on-close="removeVisualization(viz)" on-settings="">
            </workbench-visualization>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

