<div class="container-fluid">
  <outpatient-filters-grid filters="filters" filter-types="filterTypes" query-string="queryString">
  </outpatient-filters-grid>
</div>

<!-- visualizations -->
<div class="container-fluid" ng-repeat="row in vizGrid.rows">
  <div class="row">
    <!-- track by viz.id to preserve state when we delete a grid element -->
    <div ng-repeat="viz in row track by viz.id" ng-switch="viz.plus">
      <div ng-class="{'col-md-1': !centerPlus}" ng-switch-when="true">
        <add-visualization-button button-classes="{'center-block': centerPlus}" menu-position="menuPosition"
                                  menu-open="vizMenuOpen">
          <span class="icon-plus"></span>
          <span ng-show="showButtonText" translate>Visualization</span>
        </add-visualization-button>
      </div>
      <workbench-visualization ng-class="{'col-md-6': !$parent.$parent.$last, 'col-md-11': $parent.$parent.$last}"
                               visualization="viz.visualization" pivot="viz.pivot"
                               pivot-options="pivotOptions" query-string="queryString" filters="filters"
                               viz-grid="vizGrid" on-close="removeVisualization(viz)" ng-switch-default>
      </workbench-visualization>
    </div>
  </div>
</div>

